.scroll-top {
  position: fixed;
  bottom: 2em;
  width: 50px;
  right: 4em;
  height: 50px;
  padding: 10px;
  background-color: var(--clr-primary);
  border-radius: 50%;
}

@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}
